[submodule "external/esp-idf-matter"]
	path = external/esp-idf-matter
	url = https://github.com/ivmarkov/esp-idf-matter
[submodule "external/esp-idf-sys"]
	path = external/esp-idf-sys
	url = https://github.com/esp-rs/esp-idf-sys
